AMBITECTURE_HUB_URL=http://localhost:2612

NAME='Neewer Renderer'
GUID=renderer-neewer-1
GEO_LOCATION='0 0'
BOUNDING_BOX='0 0 0 10 4 10'

# Each Neewer fixture instance in the project YAML needs:
#   params.bluetoothAddress: ca:25:a6:0d:57:3d   # BLE MAC from: npm run discover
#
# Discovery / connection knobs (all optional, defaults shown)
# NEEWER_SCAN_RESTART_MS=30000
# NEEWER_CONNECT_RETRY_MS=2000
# NEEWER_CONNECT_RETRY_MAX_MS=30000
# NEEWER_WRITE_MIN_INTERVAL_MS=30
# LERP_FRAMES=3
